body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 0px;
	margin-bottom: :40px;
	background-image: linear-gradient(to right bottom, #2f96fc, #3087ff, #4c74ff, #6f5cff, #9237fb);
	color:white;
}

h1	{
	font-size:50px;
	margin:0px;
	text-align: center;

}

h2 {
	font-size: 30px;
	margin:50px 0px;
	text-align: center;
	vertical-align: middle;
}

h3{
	text-align: center;
	font-size: 20px;
}

strong {
	font-weight: 600;
	font-size: 17px;
}

a {
	text-decoration: none;
	color:white;
}

p {
	margin:0px;
}

.accroche {
	text-align: justify;
	margin:40px 0px;
}

.argument{
	width:350px;
	text-align: center;
}

.audit-container {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
  vertical-align: middle;
}

.audit-icon{
	text-align: center;
	margin :auto 0px;
	padding: 30px;
}

.audit-icon img {
	width:150px;
}

#audit-icon1{
	display: none;
}

.audit-list {
	margin: 20px 0px;
	padding: 20px;
	border-radius: 7px;
	background-color: rgb(255,255,255,0.2);
	flex-basis: 550px;
}

.bio {
	text-align: justify;
	color: white;
	margin:0px 40px;
}

#checklist1{
	display: none;
}

.company-logo {
	max-width:150px;
	max-height:150px;
	height: auto;
	width:auto;
	margin:auto;
	margin-right: 20px;
	margin-left: 20px;
}

.experience{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin : 20px 0px;
}

.header {
	position: sticky;
	top :0;
	backdrop-filter: blur(100px);
}

.header-container{
	max-width : 900px ;
	width : 90% ;
	margin : 0px auto;
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.headerlink {
	vertical-align: middle;
	color:white;
	font-size: 14px;
}

.headerlink:hover{
	background: linear-gradient(to right bottom, rgb(255,215,58), rgb(255,144,5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
	height:300px;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.image {
	height:80px;
	display:flex;
}

.info {
	text-align: center;
}

.info img {
	width: 170px;
	margin: 20px 40px;
}

.info-container {
	display:flex;
	align-items: center;
  justify-content: space-around;
  margin : 20px 0px;
  padding: 25px 0px;
}

.line {
	height: 60px;
	width: 100%;
	background-image: url("curve.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#logo{
	padding: 10px;
	width:100px;
	vertical-align: middle;
}

.marginauto {
	margin:auto;
}

.missions {
	margin: 20px 0px;
	padding: 20px;
	border-radius: 7px;
	align-items: center;
	background-color: rgb(255,255,255,0.2);
	flex-basis:500px;
}

.missions p {
	text-align: center;
}

#netatmo1{
	display: none;
}

.page-container {
	max-width : 900px ;
	width : 90% ;
	margin : 0 auto;
	padding: 20px 0px;
}

.point{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:100px 200px;
}

.point img{
	width:100px;
}

.presta {
	margin: 20px 0px;
	padding: 10px;
	flex-basis: 250px;
  text-align: center;
}

.presta img {
	width:100px;
	margin:20px auto;
}

.presta-button{
	text-align: center;
	font-size: 20px;
	margin: 20px auto;
	padding: 15px;
	background-color: rgb(255,255,255,0.2);
	border-radius: 7px;
	width:250px;
}

.presta-button:hover{
	background-color: rgb(255,255,255,0.4);
}

.presta-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.rounded {
	border-radius: 50%;
}

.skill {
	margin: 10px 0px;
	padding: 20px;
	background-color: rgb(255,255,255,0.2);
	border-radius: 7px;
	align-items: center;
	flex-basis: 395px;
	text-align: center;
}

.skills-container{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
}

.void{
	padding-bottom: 200px;
}

@media(max-width: 959px) {
	#checklist1{
	display: flex;
	}

	#checklist2{
	display: none;
	}

	.bio {
	margin:0px 0px;
}

@media(max-width: 848px) {
	#netatmo1{
	display: flex;
	}

	#netatmo2{
	display: none;
	}

	#audit-icon1{
	display: flex;
	}

	#audit-icon2{
	display: none;
	}

}

@media(max-width: 700px) {

	.info-container {
		display:flex;
	}

	.info {
		margin:20px auto;
	}

	.experience {
		display:flex;
	}

	.company-logo{
		margin : 0px 0px;
	}

	.image{
		margin-bottom: : 15px ;
	}

}



